<html>
  <meta charset="UTF-8">
  <body>
    <div style="width:100%;">
      <div style="display:flex">
        <div style="width:43%;margin-top:70px;font-size:10px">
          <p style="090d7e;font-style: italic;margin-left:10px">
            <span style="padding-right:5px;color: #090d7e"> 荷主名:</span> <span style="color:#000;border-bottom: 1px solid #000"><%= @shipper.name %> 殿</span></p>
        </div>
        <div style="width:25%;font-size:10px;text-align:center;margin-left: 150px">
          <p style="font-style: italic;font-family:'MizukiMinchoU';color:#090d7e;font-size:16px "><span style="border-bottom:1px solid #090d7e">御 請 求 書</span></p>
          <div style="border-bottom: 2px solid #ddd; display:inline-block">
            <p style="font-style: italic;">
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px">自 </span>
              <span style="font-family:'Arial Narrow';color:'#000'"><%= @from_date.to_s[0,2] %></span> 
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 年 </span>
              <span style="font-family:'Arial Narrow';color:'#000';"><%= @from_date.to_s[3,2] %></span> 
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 月 </span>
              <span style="font-family:'Arial Narrow'; color:'#000'"><%= @from_date.to_s[6,2] %></span>
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 日 </span>
            </p>
            <p style="font-style: italic;"> 
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px">至 </span>
              <span style="font-family:'Arial Narrow';color:'#000'"><%= @to_date.to_s[0,2] %></span> 
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 年 </span>
              <span style="font-family:'Arial Narrow';color:'#000'"><%= @to_date.to_s[3,2] %></span> 
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 月 </span>
              <span style="font-family:'Arial Narrow'; color:'#000'"><%= @to_date.to_s[6,2] %></span>
              <span style="font-family:'MizukiMinchoU';color: #090d7e;padding-left:2px;padding-right:2px"> 日 </span>
            </p>
          </div>
        </div>
        <div style="width:42%;font-size:10px;margin-top:80px;margin-right:160px">
          <span style="border-bottom:1px solid #090d7e;color:#090d7e;float:right;090d7e;letter-spacing:2px"><%= @managementInfo.company_name%></span>
        </div></div>
        <div>
        <div>
          <table style="font-size:8px;color:#090d7e ">
            <thead>
              <tr >
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td> </td>
                <td></td>
                <td></td>
                <td colspan="3">*----------------荷役料----------------*</td>
                <td colspan="3">*----------------保管料----------------*</td>
              </tr>
              <tr style="font-size:8px;">
                <td style="font-style:italic;" width="6%">ロット番号</td>
                <td style="font-style:italic" width="6%">品名コード</td>
                <td style="font-style:italic" width="6%" colspan="2">品名,規格荷姿</td>
                <td style="font-style:italic" width="6%">前期繰起 </td>
                <td style="font-style:italic" width="6%">上期入庫<br>上期出庫<br>上期積数 </td>
                <td style="font-style:italic" width="6%">中期入庫<br>中期出庫<br>中期積数 </td>
                <td style="font-style:italic" width="6%">下期入庫<br> 下期出庫<br>  下期積数 </td>
                <td style="font-style:italic" width="6%">当期残高</td>
                <td style="font-style:italic" width="6%">総残高</td>
                <td style="font-style:italic" width="6%">単価</td>
                <td style="font-style:italic" width="6%">金額</td>
                <td style="font-style:italic" width="6%">入庫数<br>出庫数 </td>
                <td style="font-style:italic" width="6%">単価<br>単価</td>
                <td style="font-style:italic" width="6%">入庫料<br>出庫料</td>
              </tr>
            </thead>
            <tbody>
              <%@bill_amounts.each do |record|%>
                <tr style="vertical-align:top;font-size:8px;">
                  <td align="top"><div style="border: 1px solid #bbbaba;"><%= record.product_code %></div></td>
                  <td><div style="border: 1px solid #bbbaba;"><%= record.lot_number %></div></td>
                  <td  colspan="2">
                    <div style="border: 1px solid #bbbaba;"><%= record.product_name %> </div>
                    <div style="border: 1px solid #bbbaba;"><%= record.specification %> </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_instock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_outstock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_instock_amount+record.previous_stock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_instock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_outstock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_instock_amount+record.previous_stock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.mid_instock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.mid_outstock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount-record.first_half_outstock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.second_half_instock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.second_half_outstock_amount%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount+record.second_half_instock_amount-record.first_half_outstock_amount-record.mid_outstock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount+record.second_half_instock_amount-record.first_half_outstock_amount-record.mid_outstock_amount-record.second_half_outstock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=(record.first_half_instock_amount+record.previous_stock_amount)+(record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount-record.first_half_outstock_amount)+(record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount+record.second_half_instock_amount-record.first_half_outstock_amount-record.mid_outstock_amount)%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=record.storage_fee_rate%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=record.storage_fee_rate*((record.first_half_instock_amount+record.previous_stock_amount)+(record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount-record.first_half_outstock_amount)+(record.previous_stock_amount+record.first_half_instock_amount+record.mid_instock_amount+record.second_half_instock_amount-record.first_half_outstock_amount-record.mid_outstock_amount))%>
                    </div>
                  </td>
                  <td>
                    
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_instock_amount+record.second_half_instock_amount+record.mid_instock_amount%>
                    </div>
                    
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      <%=record.first_half_outstock_amount+record.second_half_outstock_amount+record.mid_outstock_amount%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=record.instock_handle_fee_rate%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=record.outstock_handle_fee_rate%>
                    </div>
                  </td>
                  <td>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=(record.first_half_instock_amount+record.second_half_instock_amount+record.mid_instock_amount)*record.instock_handle_fee_rate%>
                    </div>
                    <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                      ￥<%=(record.first_half_outstock_amount+record.second_half_outstock_amount+record.mid_outstock_amount)*record.outstock_handle_fee_rate%>
                    </div>
                  </td>
                </tr>
              <% end %>
               <tr style="height:2px:background-color:#ddd;border:2px solid #ddd">
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%" colspan="2"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
                <td style="font-style:italic" width="6%"></td>
              </tr>
              <tr style="vertical-align:top;font-size: 8px">
                <td colspan="5">
                  <span style="font-style:'italic';color:#090d7e;float:right">*合計*</span>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:first_stock_amount]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:mid_stock_amount]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:second_stock_amount]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_stock]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_handle_fee]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_in_stock_amount]%>
                  </div>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_out_stock_amount]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_in_stock_fee]%>
                  </div>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_out_stock_fee]%>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <span style="font-style:'italic';color:#090d7e;float:right">*頁計*</span></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:first_stock_amount]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:mid_stock_amount]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:second_stock_amount]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_stock]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_handle_fee]%>
                  </div>
                </td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_in_stock_amount]%>
                  </div>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_out_stock_amount]%>
                  </div>
                </td>
                <td></td>
                <td>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_in_stock_fee]%>
                  </div>
                  <div style="border: 1px solid #bbbaba;margin-bottom:1px">
                    ￥<%=@bill_amounts_sum[:total_out_stock_fee]%>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>